body {
  background-color: #8fbafb;
  font-family: "roboto", sans-serif;
}
.weather-app-name {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  font-weight: 700;
}
.app-name {
  color: white;
  font-size: 38px;
  font-weight: bold;
}
.app-slogan {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 420px;
  margin-top: -10px;
  font-style: italic;
}
.emoji {
  font-size: 38px;
  margin-right: 5px;
  margin-top: -5px;
}
main {
  padding: 10px 0 5px;
}
.weather-App {
  display: block;
  max-width: 500px;
  background-color: #ffc671;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid #ffc671 0.8;
  border-radius: 25px;
  box-shadow: 30 50 50 0.9;
}
.form-search {
  width: 70%;
  font-size: 25px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
}
.form-submit {
  font-size: 25px;
  padding: 5px;
  color: #524e4e;
  border: none;
  border-radius: 6px;
  background-color: #b5d7d8;
  margin-left: 5px;
  width: 120px;
}
.city-name {
  font-size: 38px;
  text-align: center;
  color: #524e4e;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.city-temperature-details {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: 10px;
  font-size: 68px;
  margin-left: -20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.date {
  display: flex;
  position: fixed;
  top: 170px;
  font-size: 15px;
  color: #524e4e;
  margin-left: 10px;
  font-weight: 600;
}
.city-temperature {
  color: white;
  font-size: 88px;
}
.temperature-unit {
  font-size: 44px;
  color: white;
  margin-top: 8px;
  font-weight: 700;
}
.city-emoji {
  margin-top: 6px;
  margin-right: 6px;
}
.humidity-container {
  border: 1px solid white;
  margin-top: -40px;
  width: 65px;
  height: 35px;
  padding: 5px 0 5px 15px;
  border-radius: 6px;
  color: #524e4e;
  box-shadow: 30 30 50 0.8;
  background-color: #b5d7d8;
  font-size: 14px;
}
.wind-container {
  border: 1px solid white;
  margin-top: -47px;
  margin-left: 400px;
  width: 65px;
  height: 35px;
  padding: 5px 0 5px 15px;
  border-radius: 6px;
  color: #524e4e;
  box-shadow: 30 30 50 0.8;
  background-color: #b5d7d8;
  font-size: 14px;
}
.humidity,
.wind-body {
  margin-left: 18px;
}
.condition {
  font-size: 20px;
  position: relative;
  top: 90px;
  left: 190px;
  color: #524e4e;
  margin: 20px 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #524e4e;
}
a {
  color: #524e4e;
}
